@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.jspsych-content {
  text-align: left !important;
  margin-left: 0 !important;
}

body {
    color: #333333;
    font-family: Roboto !important;
}

h2#_otree-title.otree-title.page-header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px !important;
}

canvas {
    font-family: Roboto !important;
}

//Quiz
.form-control-errors, .alert-danger {
  color: #dc3545;
}
.mb-3._formfield {
  padding-bottom: 2rem !important;
}

// Overall font size
.otree-form, .form-control, .form-select {
  font-size: 1.5rem;
}

// Next button
.btn {
  font-size: 1.4rem;
  :disabled{
    pointer-events: all !important;
    opacity: .65 !important;
    cursor:not-allowed !important;
  }  
}
